<template>
  <div>
    <modalWindow
      v-if="mainModal"
    >
    </modalWindow>
    <header id="header">
      <span class="title">Тестовое задание</span>
    </header>
    <main id="main">
      <section class="mainInfo">
        <article class="mainInfo_left">
          <button class="main_button" @click="open_closeModal">+ ДОБАВИТЬ</button>
          <mainFilter>
          </mainFilter>
        </article>
        <article class="mainInfo_right">
          <div class="mainInfo_first">
            <Sort></Sort>
            <div class="button_bg">
              <button @click='changeCardZone()' class="button_bg1">
                <img src="../assets/icon.png" alt="">
              </button>
              <button @click='changeCardZoneSecond()' class="button_bg2">
                <img src="../assets/icon2.png" alt="">
              </button>
            </div>
          </div>
          <div class="mainInfo_second">
            <div v-if="cardsZone === 'card'" class="ListElements">
              <ListElem
                v-for="(item,index) in cards"
                :card="item"
                :index="index"
                :key="index"
              >
              </ListElem>
            </div>
            <div v-if="cardsZone === 'list'" class="list">
              <header class="listHeader">
                <span class="headerSpan">ID</span>
                <span class="headerSpan">Номер Накладной</span>
                <span class="headerSpan">Тип Заказа</span>
                <span class="headerSpan">Дата создания</span>
                <span class="headerSpan"></span>
              </header>
              <main class="listMain">
                <ListComponent
                  v-for="(item,index) in cards"
                  :card="item"
                  :index="index"
                  :key="index"
                ></ListComponent>
              </main>
            </div>
          </div>
        </article>
      </section>
    </main>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Sort from './sort/sort.vue';
import ListComponent from './list/ListComponent.vue';
import ListElem from './listElements/ListElem.vue';
import modalWindow from './modal/modalWindow.vue';
import mainFilter from './filter/mainFilter.vue';

export default {
  name: 'homework',
  components: {
    Sort, ListElem, modalWindow, mainFilter, ListComponent,
  },
  data() {
    return {
      value: false,
      cardsZone: 'card',
    };
  },
  computed: {
    ...mapState([
      'cards', 'mainModal',
    ]),
  },
  methods: {
    open_closeModal() {
      this.$store.dispatch('CHANGE_MAIN_MODAL');
    },
    changeCardZone() {
      this.cardsZone = 'card';
    },
    changeCardZoneSecond() {
      this.cardsZone = 'list';
    },
  },
};
</script>

<style scoped  >
  @import "../styles/Style.scss";
</style>
