<template>
  <div class="filter">
    <div class="filter_title">
      <span>Filters</span>
    </div>
    <div class="filter_mainInfo">
      <span class="filter_mainInfo_title" >Invoice number</span>
      <input v-model='valueFilter' @change="filterCards"
             class="filter_input" type="text" placeholder="Enter value" />
      <div class="filterButtons">
        <button  @click="filterCards" class="buttonFilter">filter</button>
        <button  @click="clearField()" class="buttonFilter">clear</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'mainFilter',
  data() {
    return {
      valueFilter: '',
    };
  },
  methods: {
    filterCards() {
      this.$store.dispatch('FILTER_CARDS', this.valueFilter);
    },
    clearField() {
      this.valueFilter = '';
      this.$store.dispatch('FILTER_CARDS', this.valueFilter);
    },
  },
};
</script>

<style scoped lang="scss">
  .filterButtons{
    margin-top: 10px;
    width:88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .buttonFilter{
      background: white;
      width:100px;
      border: 1px solid black;
      border-radius: 3px;
      height: 25px;
      cursor: pointer;
    }
    .buttonFilter:hover{
      background: #D9D9D9;
    }
  }
</style>
