<template>
  <div id="app">
    <homework/>
    <a-table
      :headers="headers"
      :items="items"
      :sortParams="sortParams"
      :sortParamsDefault="sortParamsDefault"
      :useExtRowComponent="getExtRowComponent"
      :getRowClassesByItem="getRowClassesByItem"
    ></a-table>
  </div>
</template>

<script>
import homework from './components/homework.vue';
import ATable from './components/ATable.vue';

export default {
  name: 'App',
  components: {
    homework, ATable,
  },

  data() {
    return {
      headers: [
        {
          key: 'pos',
          title: 'Position',
          headerAlign: 'center',
          dataAlign: 'center',
          classes: 'order-col width-4',
        },
        {
          key: 'number',
          name: 'number',
          title: 'Number',
          headerAlign: 'center',
          dataAlign: 'left',
          sortControl: true,
        },
        {
          key: 'name',
          title: 'Name',
          headerAlign: 'center',
          dataAlign: 'left',
        },
        {
          key: 'actions',
          title: 'Actions',
          headerAlign: 'center',
          dataAlign: 'center',
        },
        {
          key: 'mobileDescription',
          title: 'Description',
          headerAlign: 'center',
          dataAlign: 'center',
          classes: 'no-info mobile-col',
          position: 'afterAll',
        },
      ],
      sortParamsDefault: {
        sidx: 'number',
        sord: 'desc',
      },
      sortParams: {
        sidx: '',
        sord: '',
      },
      items: [
        {
          id: 1,
          pos: 1,
          number: '1234',
          name: 'Name Name Name',
        },
        {
          id: 2,
          pos: 2,
          number: '5678',
          name: 'Name Name Name Name Name',
        },
        {
          id: 3,
          pos: 3,
          number: '9999',
          name: 'NameNameNameNameNameNameNameNameNameNameNameName',
        },
      ],
    };
  },

  methods: {
    getRowClassesByItem(item) {
      return `custom-class-${item.id}`;
    },
  },
};
</script>

<style lang="scss">
  @import "./scss/table";
</style>
