<template>
  <div>
  <modalList  v-if="modalValue"
              :title="card"
              @infoEdit="infoEdit"
              @openClose="openCloseEdit()">
  </modalList>
  <div v-if="card.display">
    <div class="listList">
      <span>{{index+1}}</span>
      <span>{{card.message}}</span>
      <span>{{card.selected}}</span>
      <span></span>
      <span><img class="threePoint"
                 @click="openCloseModal()" src="../../assets/free-icon-vertica.png" alt=""></span>
      <div v-if="listModal" class="modalListElem">
        <img @click="CardEdit" src="../../assets/pencil.png" alt="">
        <img @click="deleteCard" src="../../assets/trash.png" alt="">
      </div>
    </div>
  </div>
  </div>
</template>

<script>
// eslint-disable-next-line import/extensions
import modalList from '../listElements/modalList.vue';

export default {
  name: 'ListComponent',
  props: ['card', 'index'],
  data() {
    return {
      listModal: false,
      modalValue: false,
    };
  },
  components: { modalList },
  methods: {
    openCloseModal() {
      this.listModal = !this.listModal;
    },
    deleteCard() {
      this.$store.dispatch('SPLICE_FROM_CARDS', this.index);
    },
    CardEdit() {
      this.modalValue = !this.modalValue;
    },
    openCloseEdit() {
      this.modalValue = !this.modalValue;
      this.listModal = false;
    },
    infoEdit(editInfo) {
      this.card.message = editInfo.message;
      this.card.selected = editInfo.selected;
    },
  },
};
</script>

<style scoped lang="scss">
  .listList{
    width: 100%;
    height: 40px;
    border-bottom:1px solid #E6E6E6;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 15% 30% 30% 15% 10%;
    .threePoint{
      cursor: pointer;
      position: absolute;
      z-index: 1;
      margin-left: 0.5%;
    }
  }
  span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .modalListElem{
    width: 102px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 3px;
    position: absolute;
    left: 74%;
    margin-top: 5px;
    img{
      margin-left: 10%;
      margin-top: 2%;
      cursor: pointer;
    }
  }
</style>
