@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
#header{
  width: 100%;
  padding-top: 106px;
  padding-left: 250px;
  box-sizing: border-box;
  height: 261px;
  background: linear-gradient(267.21deg, #900793 0.16%,
          rgba(134, 4, 137, 0.785707) 0.16%,
          rgba(159, 12, 162, 0.762269) 43.22%,
          rgba(5, 1, 190, 0.734375) 98.12%,
          rgba(0, 28, 126, 0.619792) 100.15%,
          rgba(6, 77, 142, 0.447917) 102.03%,
          rgba(1, 0, 60, 0) 102.73%);
}
.title{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.filter{
  margin-top: 20px;
  width: 280px;
  height: 150px;
  background: #FFFFFF;
}
.filter_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}
.filter_mainInfo{
  border-top:1px solid #F8F8F8;
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
}
.filter_mainInfo_title{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.filter_input{
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  width: 220px;
  height: 30px;
}
#main{
  height: 802px;
  background: #E3E3E3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main_button{
  width: 280px;
  margin-top: 30px;
  height: 70px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background: #4943CD;
  box-shadow: 0px 4px 4px #EBEBEB;
  border-radius: 2px;
  cursor: pointer;
}
.mainInfo{
  display:flex;
  flex-direction: row;
  width: 85%;
}
.mainInfo_left{
  height: 250px;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  margin-left: 110px;
}
.mainInfo_right{
  height: 550px;
  width:100%;
  margin-top: 30px;
  margin-left: 50px;
}
.mainInfo_first{
  display: flex;
  flex-direction: row;
}
.mainInfo_second{
  height: 300px;
}
.sort{
  width: 68%;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px #E7E7E7;
  border-radius: 3px;
}
.button_bg{
  width: 140px;
  height: 70px;
  display: flex;
  margin-top: 15px;

  justify-content: center;
}
.button_bg1{
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid #647A8C;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  width: 40px;
  height: 40px;
}
.button_bg1:hover{
  background: #E5E9EC;
}
.button_bg2{
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #647A8C;
  box-sizing: border-box;
  border-radius:  0px 5px 5px 0px;
  width: 40px;
  height: 40px;
}
.button_bg2:hover{
  background: #E5E9EC;
}
.ListElements{
  margin-top: -15px;
  width: 80%;
  height: 440px;
  display: flex;
  flex-flow: row wrap;

}
.list{
  width: 80%;
  background: #FFFFFF;
}
.listHeader{
  width: 100%;
  height: 40px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 15% 30% 30% 15% 10%;
}
.headerSpan{
  background: rgba(237, 232, 245, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.listMain{
  width: 100%;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}




