<template>
  <div class="modalWindow">
    <div class="modalAddElem" @click.stop="">
      <div class="modal_header">
        <span>Добавление</span>
        <button class='closeButton' @click="closeModal()" >x</button>
      </div>
      <div class="modal_content">
        <span>Номер накладной</span>
        <input  placeholder="Введите значение" v-model = 'message' type="text"/>
        <span>Тип заказа</span>
        <select  v-model="selected" name="" id="">
          <option value="RUED">RUED</option>
          <option value="RUEX">RUEX</option>
          <option value="RUSG">RUSG</option>
        </select>
        <button class='buttonAdd' @click="[ pushMessage(), closeModal()]" >Add card</button>
      </div>
    </div>
  </div>
</template>

<script >

export default {
  name: 'modalWindow',
  // eslint-disable-next-line vue/no-unused-components
  components: {},
  data() {
    return {
      message: '',
      selected: 'RUED',
    };
  },
  computed: {
  },
  methods: {
    pushMessage() {
      this.$store.dispatch('PUSH_IN_CARDS', {
        message: this.message,
        selected: this.selected,
        display: true,
      });
    },
    closeModal() {
      this.$store.dispatch('CHANGE_MAIN_MODAL');
    },
  },
};
</script>

<style lang="scss">
  .modalWindow{
    z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    height: 1080px;
    background: rgba(0,0,0,0.2);

    .modalAddElem{
      position: fixed;
      display: flex;
      flex-direction: column;
      left: 40%;
      top:40%;
      width: 400px;
      height: 250px;
      background: #FFFFFF;
      border-radius: 2px;
      font-size: 16px;
      line-height: 19px;
      .modal_header{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
          margin-top: 20px;
        }
        .closeButton{
          position: absolute;
          left:358px;
          top:20px;
          background: white;
          border:1px solid black;
          border-radius: 3px;
          cursor: pointer;
        }
        .closeButton:hover{
          background: #D9D9D9;
        }
      }
      .modal_content{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        .buttonAdd{
          background: white;
          width:100px;
          border: 1px solid black;
          border-radius: 3px;
          height: 25px;
          margin-left: 34%;
          margin-top: 4%;
          cursor: pointer;
        }
        .buttonAdd:hover{
          background: #D9D9D9;
        }
        select{
          box-sizing:border-box ;
          padding: 0 20px;
          width: 360px;
          height: 30px;
          border: 1px solid #D9D9D9;
          font-size: 16px;
          line-height: 19px;
          color:#A5A5A5;
        }
        span{
          margin-bottom: 10px;
          margin-top: 10px;
        }
        input{
          box-sizing:border-box ;
          padding: 0 20px;
          width: 360px;
          height: 30px;
          border: 1px solid #D9D9D9;
          font-size: 16px;
          line-height: 19px;
        }

      }
    }
  }

</style>
