<template>
  <div class="modalWindow" >
    <div class="modalAddElem" @click.stop="">
      <div class="modal_header">
        <span>Редактирование</span>
        <button class='closeButton' @click="openClose()" >x</button>
      </div>
      <div class="modal_content">
        <span>Номер накладной</span>
        <input  placeholder="Введите значение" v-model = 'message' type="text"/>
        <span>Тип заказа</span>
        <select  v-model="selected" name="" id="">
          <option value="RUED">RUED</option>
          <option value="RUEX">RUEX</option>
          <option value="RUSG">RUSG</option>
        </select>
        <button class='buttonAdd' @click="[infoEdit(),openClose()]" >Card edit</button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'modalList',
  data() {
    return {
      message: this.title.message,
      selected: this.title.selected,
    };
  },
  props: ['title'],
  methods: {
    infoEdit() {
      this.$emit('infoEdit', {
        message: this.message,
        selected: this.selected,
      });
    },
    openClose() {
      this.$emit('openClose');
    },
  },
};
</script>

<style lang="scss">
  .modalWindow{
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1080px;
    background: rgba(0,0,0,0.2);

    .modalAddElem{
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 40%;
      top:40%;
      width: 400px;
      height: 239px;
      background: #FFFFFF;
      border-radius: 2px;
      font-size: 16px;
      line-height: 19px;
      .modal_header{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
          margin-top: 20px;
        }

      }
      .modal_content{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        select{
          box-sizing:border-box ;
          padding: 0 20px;
          width: 360px;
          height: 30px;
          border: 1px solid #D9D9D9;
          font-size: 16px;
          line-height: 19px;
          color:#A5A5A5;
        }
        span{
          margin-bottom: 10px;
          margin-top: 10px;
        }
        input{
          box-sizing:border-box ;
          padding: 0 20px;
          width: 360px;
          height: 30px;
          border: 1px solid #D9D9D9;
          font-size: 16px;
          line-height: 19px;
        }

      }
    }
  }
</style>
